/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.item_one {
    	margin-left: 51px;
	}
	.zakaz_descr {
    	text-align: left;
	}
	.perekluchateli {
    	padding-left: 0;
	}
	.fio {
   	 	padding-left: 0;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.develop_sites a {
		margin-left: 0;
	}
	.support_sites a {
		margin-left: 0;
	}
	.marketing_sites a {
		margin-left: 0;
	}
	.logo {
    	text-align: center;
    }
    .item_one {
    	margin-right: 195px;
    	margin-left: 0;
    }
    .contacts {
    	padding-right: 10px;
    }
    .items {
    	text-align: center;
    	
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.logo {
		text-align: left;
		padding-left: 20px;
	}
	.item_one {
    	margin-right: 200px;
    	margin-left: 20px;
	}
	.develop_sites a {
		margin-left: 20px;
	}
	.support_sites a {
		margin-left: 20px;
	}
	.marketing_sites a {
		margin-left: 20px;
	}
}
/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.item_one {
   	 	margin-right: 100px;
    	margin-left: 20px;
	}
}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	.logo img {
    	vertical-align: middle;
    	width: 200px;
	}


}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
	
}


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
	
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
	
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
	
}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
	
}